<% if header.present? %>
<!-- Masthead-->
<div class="masthead">
    <div class="container">
        <div class="masthead-subheading"><span><%= header.label %></span><h3><%= header.title %></h3></div>
        <div class="masthead-heading text-uppercase"><%= header.description %></div>
        <a class="btn" href=<%= debates_path %>>Debates</a>
        <a class="btn" href=<%= proposals_path %>>Propuestas</a>
        <a class="btn" href=<%= budgets_path %>>Presupuestos</a>
        <a class="btn" href=<%= polls_path %>>Votaciones</a>
    </div>
</div>
<% end %>

